.marginTop{
    margin-top: 30px;
}
#Password_error , #ConfirmPassword_error 
{
    color: red;
}
.parentContainer{
    background-image: url("../images/bg.jpg");
    margin: 0;
    width: 100%;
   
    background-size: cover;
}
h2{
    color:white;
    text-align: center;
}

.childContainer{
    color: black;
    background-color:white;
    margin: 0;
    width: 100%;
    background-size: cover;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.childContainer:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.UserContainer{
     background-image: url("../images/User.jpg");
    margin: 0;
    width: 100%;
    
 background-size: cover;
    
}
.adminContainer{
    background-color: black
}

.successContainer{
    background-image: url("../images/success.jpg");
    margin: 0;
    width: 100%;
       padding-top: 100px;
    background-size: cover;
}
.sign {
            left:5px;
            position:relative;
          
          
        }